.mobile .comments section p {
  font-size: 0.9em;
  line-height: 1.4em;
  color: #282828;
  word-wrap: break-word;
}
.mobile .comments section header {
  padding: 8px 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
  max-width: 590px;
  margin: 0 5%;
  margin-bottom: 12px;
  border-bottom: 1px solid #e3e3e3;
}
.mobile .comments section header h1 {
  font-family: 'Georgia', serif;
  font-stretch: italic;
  font-weight: 700;
  color: #3d525e;
  font-size: 1.3em;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}
.mobile .comments section header h1 a {
  display: block;
  color: #181818;
  text-decoration: none;
}
.mobile .comments section header h1 span {
  color: #385487;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 1px rgba(255,255,255,0.85);
}
.mobile .comments section header .meta,
.mobile .comments section header .summary {
  display: block;
  font-size: 13px;
  color: #77808c;
  text-shadow: 0 1px rgba(255,255,255,0.85);
  line-height: 1.2em;
}
.mobile .comments section header .summary {
  margin: 10px 0 5px 0;
}
.mobile .comments section header .summary a {
  color: #385487;
}
.mobile .comments section header .meta-point {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 700;
  color: #ababab;
}
.mobile .comments section header .domain {
  color: #d32626;
  font-weight: bold;
}
.mobile .comments section header .user {
  color: #d32626;
  font-weight: bold;
}
.mobile .comments section section.thread {
  min-height: 258px;
  font-size: 13px;
  overflow: hidden;
  padding: 0 15px 0 15px;
}
.mobile .comments section section.thread ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: 590px;
}
.mobile .comments section section.thread li {
  margin-bottom: 10px;
  border-bottom: 1px solid #d7e1e7;
}
.mobile .comments section section.thread .meta {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  -webkit-box-pack: start;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  -moz-box-pack: start;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  -o-box-pack: justify;
  box-pack: justify;
}
.mobile .comments section section.thread .meta-point.discuss {
  text-align: right;
  display: block;
}
.mobile .comments section section.thread time {
  font-size: 12px;
  color: #a1a8b2;
}
.mobile .comments section section.thread p {
  margin: 8px 0;
}
.mobile .comments section .video-container {
  background-image: url("vloading4.gif");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 300px;
  height: 167px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.mobile .comments section .article-video {
  margin: 0px;
  padding: 0px;
  width: 300px;
  height: 167px;
  position: absolute;
}
.mobile .comments section .summary-container a.icon {
  display: block;
  padding: 0px;
  margin: 0px auto;
  font-size: 0px;
  line-height: 0px;
  text-align: center;
}
.mobile .comments section .summary-container a.icon img {
  width: 260px;
  height: 173px;
}
