@import '../mixins'

.app .posts-list,
.overlay .posts-list {
  h3.empty {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center
    margin: 15px 0
  }

  .item {
    box-shadow: #D7E1E7 0 -1px 0 inset
    cursor: pointer
    display: block
    padding: 8px 10px
    overflow: hidden
    position: relative
    white-space: nowrap;

    section {
      display: inline-block
    }

    .title {
      font-family: 'Open Sans',sans-serif;
      font-weight: 700
      color: #3D525E
      font-size: 13px;
      white-space: normal
      padding-right: 95px

      a {
        color: #2c414d

        &:hover {
          color: #D32626
          text-decoration: none
        }

        &:visited {
          color: lighten(#757F8C, 10%)
        }
      }

      &.visited a {
        color: lighten(#757F8C, 10%)
      }
    }

    &:hover .title a {
      color: #D32626
      text-decoration: none
    }

    .index {
      vertical-align: top
      position: relative
      left: -1px

      font-family: 'Open Sans', sans-serif;
      font-weight: 700
      line-height: 1.5em;
      white-space: normal

      font-size: 13px
      color: #4b525b
    }

    time {
      color: #77808C
      font-size: 11px
      font-weight: 700
      position: absolute
      right: 16px
      top: 50px
    }

    .meta-point {
      font-size: 12px
      color: #77808C

      a {
        color: #77808C
      }

      &:after {
        content: ' · '
        font-size: 13px
        color: #77808C
        line-height: 1.7em
      }

      &:last-child:after {
        display: none
      }
    }

    &.active {
      background-color: #F8FAFB
    }

    .icon-mini{
      position: relative
      left: 0px
      top: 0px
      display: inline-block
      width: 75px
      height: 50px

    }

    .img-thumb{
      position: relative
      left: 0px
      top: 0px
    }

    .img-video-overlay{
      position: absolute
      opacity: 0.9
      bottom: 0px
      right: 0px
    }
  }
}
