@import '../mixins'

.app .posts-show {

  position: absolute

  // Sidebar
  left: 485px
  top: 0
  bottom: 0
  right: 0

  box-sizing: border-box
  overflow-y: auto
  -webkit-overflow-scrolling: touch

  .wrap {
    margin: 0 auto;
    max-width: 825px;
    min-width: 275px;
    box-sizing: border-box
  }

  .vote {
    cursor: pointer
  }

  .meta-point {
    font-size: 12px
    color: #A1A8B2

    a {
      color: #A1A8B2
    }

    &:after {
      content: ' · '
      font-size: 13px
      color: #77808C
      line-height: 1.7em
    }

    &:last-child:after {
      display: none
    }
  }

  header {
    box-sizing: border-box
    position: relative
    padding: 20px 30px
    overflow: hidden

    .icon {
      float: right
      display: block
      width: 260px
      height: 173px
      position: relative
      margin-left: 16px
      margin-top :8px
      margin-bottom :0px
      margin-right: 16px

      img {
        //border-radius: 5px
        display: block
        height: 100%
        width: 100%
      }

      &:after {
        content: ''
        //border-radius: 5px
        box-shadow: rgba(0, 0, 0, 0.08) 0 1px 1px inset
        display: block
        left: 0
        position: absolute
        top: 0
        width: 100%
        height: 100%
      }
    }

    .title {
      line-height: 28px
      margin-bottom: 4px
    }

    .title a {
    font-family: 'franklin-gothic-urw', sans-serif;
      color: #2c414d

      &:hover {
        color: #D32626
        text-decoration: none
      }
    }

    .summary {
      border-top: 1px solid #EBEEF2
      margin-top: 40px
      padding-top: 1em
      position: relative
      -webkit-font-smoothing: antialiased;
      font-family: georgia, serif;
      font-size: 1.2em
      word-wrap: break-word;
      text-justify:inter-word;

      &:before {
        content: 'Përmbledhje'
        font-size: 0.8em
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
        font-weight: 700
        color: #77808c
        text-transform: uppercase
        position: absolute
        top: -13px
        background: #FFF
        padding-right: 6px
      }

      a.me-shume{
        color: #d32626
        font-size: 0.9em;


        &:hover{
          text-decoration:underline;
        }
      }
    }

    &.icon-present section {
      margin-left: 0px
    }

    &.icon-error .icon {
      img {
        display: none
      }
    }

    .video-container{
      text-align: center
      margin-top: 12px
      background-image: url("/vloading4.gif")
      background-repeat:no-repeat;
      background-position:center;
    }

  }


}
