@import '../mixins'

.mobile .comments section {

  p{
    font-size: 1em;
    line-height: 1.4em;
    color: #282828;
    word-wrap: break-word;
    font-family: 'Georgia', serif
  }
  header {
    padding: 8px 0px;
    user-select: none;
    position: relative
    max-width: 590px
    margin: 0 5%;
    margin-bottom: 12px;
    border-bottom: 1px solid #e3e3e3;

    h1 {
      font-family: 'Georgia', serif;
      font-stretch: italic;
      font-weight: 700
      color: #3d525e;
      font-size: 1.3em;

      line-height: 1.2em;
      margin: 0;
      padding: 0;

      a {
        display: block
        color: #181818;
        text-decoration: none;
      }

      span {
        color: #385487;
        font-size: 13px;
        font-weight: bold;
        text-shadow: 0 1px rgba(255,255,255,.85)
      }
    }

    .meta, .summary {
      display: block;
      font-size: 13px;
      color: #77808C;
      text-shadow: 0 1px rgba(255,255,255,.85)
      line-height: 1.2em;
    }

    .summary {
      margin: 10px 0 5px 0

      a {
        color: #385487;
      }
    }

    .meta-point {
      font-family: "franklin-gothic-urw" , sans-serif;
      font-weight: 700;
      color: #ababab;
    }

    .domain {
      color: #d32626;
      font-weight: bold
    }

    .user {
      color: #d32626;
      font-weight: bold
    }
  }

  section.thread {
    min-height: 258px;
    font-size: 13px;
    overflow: hidden;
    padding: 0 15px 0 15px;

    ul {
      margin: 0 auto;
      padding: 0;
      list-style: none;
      max-width: 590px
    }

    li {
      margin-bottom: 10px
      border-bottom: 1px solid #D7E1E7;
    }

    .meta {
      hbox()
      box-pack: justify
    }

    .meta-point.discuss {
      text-align: right
      display: block
    }

    time {
      font-size: 12px
      color: #a1a8b2;
    }

    p {
      margin: 8px 0;
    }
  }

  .video-container {
    background-image: url("vloading4.gif")
    background-repeat:no-repeat;
    background-position:center;
    display: block;
    width: 300px;
    height: 167px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .article-video {
    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 167px;
    position: absolute;
  }

  .summary-container a.icon {
    display: block
    padding: 0px;
    margin: 0px auto;
    font-size: 0px;
    line-height: 0px;
    text-align: center;

    img {
      width: 260px;
      height: 173px;
    }
  }

}