@import '../mixins'

.mobile .posts-list {
  li > a.content {
    margin-left: 85px
    margin-right: 45px
    min-height: 85px;
    padding-top: 10px
    padding-bottom: 23px
    padding-left: 5px
    padding-right: 0px
  }

  li > a:visited .title {
    color: #838c98
  }

  .item {
    .title {
      font-family: "Helvetica Neue"
      font-weight: 700
      color: #3D525E
      font-size: 15px;
      line-height: 1.3em;
      margin: 0
    }

    .title.visited {
      color: #757F8C
    }

    .meta {
      bottom: 1px
      display: block;
      position: absolute
      text-align: right;
      padding-right: 2%
      overflow: hidden;
      right: 45px;
      left: 0px
      text-overflow: ellipsis;
      font-size: 13px;
      color: #77808C;
      line-height: 1.2em;
    }

    .domain {
      color: #385487;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      border-right: 1px solid #e3e3e3;
      padding-right: 8px
      max-width: 43%
    }

    .votes {
      padding-left: 5px
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 47%
    }
  }

  a.next {
    cursor: pointer;
    -webkit-touch-callout: none;
    line-height: 3em;
    padding: 10px;
    display: block;
    color: #385487;
    text-align: center;
    font-weight: bold;
  }
}