@import '../mixins'

.mobile .posts-list {
  li > a.content {
    position: relative;
    min-height: 63px;
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 0px;

    vertical-align: center
    vertical-position: center

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-content: center;
    flex-direction: column;

  }

  li > a:visited .title {
    color: #838c98
  }

  .item {
    .title {
      font-family: "Helvetica Neue"
      font-weight: 700
      color: #3D525E
      font-size: 15px;
      line-height: 1.2em;
      margin: 0
      margin-left: 105px
    }

    .title.visited {
      color: #757F8C
    }

    .meta {
      display: block;
      text-align: right;
      padding-right: 2%
      padding-top: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 13px;
      color: #77808C;
      line-height: 1.2em;
    }

    .domain {
      color: #385487;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      border-right: 1px solid #e3e3e3;
      padding-right: 8px
      max-width: 43%
    }

    .votes {
      padding-left: 5px
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 47%
    }
  }

  a.next {
    cursor: pointer;
    -webkit-touch-callout: none;
    line-height: 3em;
    padding: 10px;
    display: block;
    color: #385487;
    text-align: center;
    font-weight: bold;
  }
}