<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>albanania</title>
  <meta name="keywords" content="lajme, kryesore, artikuj, opinione, editorial, politika, biseda, diskutime">
  <meta name="description" content="Gjithçka interesante zgjedhur nga lexuesit. Lajme, artikuj, opinione, biseda, ngjarje, diskutime.">

  <link rel="alternate" type="application/rss+xml" href="/feed" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <link rel="alternate" type="application/rss+xml" href="/feed" />
</head>
<body>
  <h1>Albanania</h1>

  <% @posts.each do |post| %>
    <h2><a href="/posts/<%= post.slug %>"><%= post.title %></a></h2>
  <% end %>
</body>
</html>