.comments {
  margin-top: 60px;
}
.comments-edit {
  position: relative;
  padding: 15px 0 25px 0;
}
.comments-edit section {
  position: relative;
}
.comments-edit textarea {
  min-height: 80px;
}
.comments-edit button {
  position: absolute;
  bottom: 8px;
  right: 7px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  opacity: 0.6;
  -webkit-transition: 200ms linear opacity;
  -moz-transition: 200ms linear opacity;
  -ms-transition: 200ms linear opacity;
  -o-transition: 200ms linear opacity;
  transition: 200ms linear opacity;
}
.comments-edit button:hover {
  opacity: 1;
}
