.overlay .panel.feedback {
  width: 50%;
  min-width: 300px;
}
.overlay .panel.feedback article {
  margin: 30px 30px 20px 30px;
}
.overlay .panel.feedback input {
  margin-bottom: 15px;
  height: 38px;
  padding: 0 10px;
}
.overlay .panel.feedback input:last-child {
  margin-bottom: 0;
}
.overlay .panel.feedback textarea {
  min-height: 100px;
  resize: vertical;
}
.overlay .panel.feedback footer {
  margin: 0 30px 30px 30px;
}
.overlay .panel.feedback button {
  width: 100%;
  height: 34px;
  padding: 0 14px;
  font-size: 14px;
}
