.app .posts-landing {
  position: relative;
  height: 100%;
  -webkit-box-shadow: inset 0 0px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 0px 1px rgba(0,0,0,0.1);
  -ms-box-shadow: inset 0 0px 1px rgba(0,0,0,0.1);
  -o-box-shadow: inset 0 0px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 0px 1px rgba(0,0,0,0.1);
}
.app .posts-landing .wrapper {
  margin-top: 10px;
  margin-right: 60px;
  margin-bottom: 60px;
  margin-left: 60px;
}
.app .posts-landing article.splash {
  display: block;
  height: 123px;
  line-height: 123px;
  box-sizing: border-box;
  text-align: center;
}
.app .posts-landing nav {
  position: absolute;
  right: 15px;
  top: 15px;
}
.app .posts-landing nav a {
  display: block;
  background-position: center;
  float: right;
  margin-left: 11px;
}
.app .posts-landing nav a.twitter {
  width: 23px;
  height: 19px;
  background-repeat: no-repeat;
  background-image: url("/assets/twitter.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .app .posts-landing nav a.twitter {
    background-image: url("/assets/twitter@2x.png");
    background-size: 23px 19px;
  }
}
.app .posts-landing nav a.feed {
  width: 17px;
  height: 18px;
  background-repeat: no-repeat;
  background-image: url("/assets/feed.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .app .posts-landing nav a.feed {
    background-image: url("/assets/feed@2x.png");
    background-size: 17px 18px;
  }
}
.app .posts-landing h1 {
  text-shadow: 0 1px rgba(255,255,255,0.9);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: normal;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.app .posts-landing p {
  font-size: 13px;
}
.app .posts-landing .guidt {
  color: #709602;
}
.app .posts-landing .cfa {
  background-color: #4cb164 !important;
  color: #fff;
  font-size: 1rem;
  display: inline-block;
  padding: 0.8em 1.5em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}
