.app .sidebar footer .btn.add:after {
  content: 'Publiko' !important;
  display: block;
  width: 80px !important;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url("/assets/add-icon.png");
  margin: 5px 9px;
  padding: 0px 0px 0px 20px;
}
.app .sidebar footer .btn.config:after {
  content: 'Menu' !important;
  display: inline-block;
  width: 60px !important;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url("/assets/config-icon.png");
  margin: 5px 9px;
  padding: 0px 0px 0px 20px;
}
.app .sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 485px;
  box-sizing: border-box;
  border-right: 1px solid #dadfe5;
}
.app .sidebar *[hidden] {
  display: none;
}
.app .sidebar header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.app .sidebar .list {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  bottom: 62px;
}
.app .sidebar footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.app .sidebar header {
  overflow: hidden;
  height: 52px;
  line-height: 52px;
  -webkit-box-shadow: inset 0 -1px 0 #d7e1e7;
  -moz-box-shadow: inset 0 -1px 0 #d7e1e7;
  -ms-box-shadow: inset 0 -1px 0 #d7e1e7;
  -o-box-shadow: inset 0 -1px 0 #d7e1e7;
  box-shadow: inset 0 -1px 0 #d7e1e7;
}
.app .sidebar .logo {
  display: block;
  float: left;
  color: #d32626;
  font-family: "Lily Script One", cursive, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 0 16px;
}
.app .sidebar .logo:hover {
  text-decoration: none;
}
.app .sidebar nav {
  float: right;
  height: 14px;
  line-height: 14px;
  margin: 19px 16px;
}
.app .sidebar nav .clip {
  float: left;
  width: 165px;
}
.app .sidebar nav .clipped {
  width: 250px;
  float: left;
  -webkit-transition: -webkit-transform 200ms ease;
  -moz-transition: -webkit-transform 200ms ease;
  -ms-transition: -webkit-transform 200ms ease;
  -o-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  -webkit-transition: -moz-transform 200ms ease;
  -moz-transition: -moz-transform 200ms ease;
  -ms-transition: -moz-transform 200ms ease;
  -o-transition: -moz-transform 200ms ease;
  transition: -moz-transform 200ms ease;
}
.app .sidebar nav .states {
  float: left;
  -webkit-transition: -webkit-transform 200ms ease;
  -moz-transition: -webkit-transform 200ms ease;
  -ms-transition: -webkit-transform 200ms ease;
  -o-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  -webkit-transition: -moz-transform 200ms ease;
  -moz-transition: -moz-transform 200ms ease;
  -ms-transition: -moz-transform 200ms ease;
  -o-transition: -moz-transform 200ms ease;
  transition: -moz-transform 200ms ease;
  position: relative;
}
.app .sidebar nav a {
  float: left;
  display: block;
  cursor: pointer;
  margin-right: 10px;
  padding-left: 15px;
  background-repeat: no-repeat;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: #9eb1bd;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.app .sidebar nav a.popular {
  background-repeat: no-repeat;
  background-image: url("/assets/popular-icon_dark.png");
  background-size: 10px 12px;
  background-position: 0 0px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .app .sidebar nav a.popular {
    background-image: url("/assets/popular-icon_dark@2x.png");
    background-size: inherit inherit;
  }
}
.app .sidebar nav a.popular:active,
.app .sidebar nav a.popular.active {
  background-repeat: no-repeat;
  background-image: url("/assets/popular-icon-active.png");
  color: #d32626;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .app .sidebar nav a.popular:active,
  .app .sidebar nav a.popular.active {
    background-image: url("/assets/popular-icon-active@2x.png");
    background-size: inherit inherit;
  }
}
.app .sidebar nav a.newest {
  background-repeat: no-repeat;
  background-image: url("/assets/newest-icon_dark.png");
  background-size: 11px 12px;
  background-position: 0 1px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .app .sidebar nav a.newest {
    background-image: url("/assets/newest-icon_dark@2x.png");
    background-size: inherit inherit;
  }
}
.app .sidebar nav a.newest:active,
.app .sidebar nav a.newest.active {
  background-repeat: no-repeat;
  background-image: url("/assets/newest-icon-active.png");
  color: #d32626;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .app .sidebar nav a.newest:active,
  .app .sidebar nav a.newest.active {
    background-image: url("/assets/newest-icon-active@2x.png");
    background-size: inherit inherit;
  }
}
.app .sidebar nav a.search {
  width: 14px;
  height: 15px;
  padding: 0 0 0 5px;
  margin: 0;
  background-position: right 0px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: url("/assets/search-icon.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .app .sidebar nav a.search {
    background-image: url("/assets/search-icon@2x.png");
    background-size: 14px 14px;
  }
}
.app .sidebar nav .sep {
  float: left;
  display: block;
  position: relative;
  top: -1px;
  height: 17px;
  width: 1px;
  background: #d7e1e7;
  margin-right: 10px;
}
.app .sidebar nav input {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  height: 14px;
  line-height: 14px;
  width: 70px;
}
.app .sidebar nav.search-active .clipped {
  -webkit-transform: translate3d(-80px, 0, 0);
  -moz-transform: translate3d(-80px, 0, 0);
  -ms-transform: translate3d(-80px, 0, 0);
  -o-transform: translate3d(-80px, 0, 0);
  transform: translate3d(-80px, 0, 0);
}
.app .sidebar nav.search-active input {
  display: block;
}
.app .sidebar input[type="search"]::-webkit-search-decoration,
.app .sidebar input[type="search"]::-webkit-search-cancel-button,
.app .sidebar input[type="search"]::-webkit-search-results-button,
.app .sidebar input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.app .sidebar section.state:not(.active) {
  display: none;
}
.app .sidebar .list {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.app .sidebar footer {
  -webkit-box-shadow: #dadfe5 0 1px 0 inset;
  -moz-box-shadow: #dadfe5 0 1px 0 inset;
  -ms-box-shadow: #dadfe5 0 1px 0 inset;
  -o-box-shadow: #dadfe5 0 1px 0 inset;
  box-shadow: #dadfe5 0 1px 0 inset;
  padding: 18px 17px;
}
.app .sidebar footer .left {
  float: left;
}
.app .sidebar footer .right {
  float: right;
}
.app .sidebar footer .btn {
  padding: 0;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fff;
  -moz-box-shadow: inset 0px 1px 0px 0px #fff;
  -ms-box-shadow: inset 0px 1px 0px 0px #fff;
  -o-box-shadow: inset 0px 1px 0px 0px #fff;
  box-shadow: inset 0px 1px 0px 0px #fff;
}
.app .sidebar footer .btn:active {
  -webkit-box-shadow: rgba(0,0,0,0.1) 0 1px 1px inset, rgba(255,255,255,0.7) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,0.1) 0 1px 1px inset, rgba(255,255,255,0.7) 0 1px 0;
  -ms-box-shadow: rgba(0,0,0,0.1) 0 1px 1px inset, rgba(255,255,255,0.7) 0 1px 0;
  -o-box-shadow: rgba(0,0,0,0.1) 0 1px 1px inset, rgba(255,255,255,0.7) 0 1px 0;
  box-shadow: rgba(0,0,0,0.1) 0 1px 1px inset, rgba(255,255,255,0.7) 0 1px 0;
}
.app .sidebar footer .btn.config:after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url("/assets/config-icon.png");
  margin: 5px 9px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .app .sidebar footer .btn.config:after {
    background-image: url("/assets/config-icon@2x.png");
    background-size: 14px 15px;
  }
}
.app .sidebar footer a.avatar-btn {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(255,255,255,0.2) 0 1px 0 inset;
  -moz-box-shadow: rgba(255,255,255,0.2) 0 1px 0 inset;
  -ms-box-shadow: rgba(255,255,255,0.2) 0 1px 0 inset;
  -o-box-shadow: rgba(255,255,255,0.2) 0 1px 0 inset;
  box-shadow: rgba(255,255,255,0.2) 0 1px 0 inset;
}
.app .sidebar footer a.avatar-btn .avatar {
  float: left;
  height: 26px;
  width: 32px;
  -webkit-box-shadow: rgba(0,0,0,0.5) 0 0 0 1px inset, rgba(255,255,255,0.3) 0 1px 0 1px inset;
  -moz-box-shadow: rgba(0,0,0,0.5) 0 0 0 1px inset, rgba(255,255,255,0.3) 0 1px 0 1px inset;
  -ms-box-shadow: rgba(0,0,0,0.5) 0 0 0 1px inset, rgba(255,255,255,0.3) 0 1px 0 1px inset;
  -o-box-shadow: rgba(0,0,0,0.5) 0 0 0 1px inset, rgba(255,255,255,0.3) 0 1px 0 1px inset;
  box-shadow: rgba(0,0,0,0.5) 0 0 0 1px inset, rgba(255,255,255,0.3) 0 1px 0 1px inset;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
.app .sidebar footer a.avatar-btn:active .avatar {
  -webkit-box-shadow: rgba(0,0,0,0.5) 0 0 0 1px inset, rgba(0,0,0,0.5) 0 1px 5px 1px inset;
  -moz-box-shadow: rgba(0,0,0,0.5) 0 0 0 1px inset, rgba(0,0,0,0.5) 0 1px 5px 1px inset;
  -ms-box-shadow: rgba(0,0,0,0.5) 0 0 0 1px inset, rgba(0,0,0,0.5) 0 1px 5px 1px inset;
  -o-box-shadow: rgba(0,0,0,0.5) 0 0 0 1px inset, rgba(0,0,0,0.5) 0 1px 5px 1px inset;
  box-shadow: rgba(0,0,0,0.5) 0 0 0 1px inset, rgba(0,0,0,0.5) 0 1px 5px 1px inset;
}
.app .sidebar footer a.avatar-btn:active .btn {
  background-image: -webkit-linear-gradient(#e5e8ee, #f0f2f6);
  background-image: -moz-linear-gradient(#e5e8ee, #f0f2f6);
  background-image: -ms-linear-gradient(#e5e8ee, #f0f2f6);
  background-image: -o-linear-gradient(#e5e8ee, #f0f2f6);
  background-image: linear-gradient(#e5e8ee, #f0f2f6);
  -webkit-box-shadow: rgba(0,0,0,0.1) 0 1px 1px inset, rgba(255,255,255,0.7) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,0.1) 0 1px 1px inset, rgba(255,255,255,0.7) 0 1px 0;
  -ms-box-shadow: rgba(0,0,0,0.1) 0 1px 1px inset, rgba(255,255,255,0.7) 0 1px 0;
  -o-box-shadow: rgba(0,0,0,0.1) 0 1px 1px inset, rgba(255,255,255,0.7) 0 1px 0;
  box-shadow: rgba(0,0,0,0.1) 0 1px 1px inset, rgba(255,255,255,0.7) 0 1px 0;
  border-bottom-color: rgba(152,164,184,0.6);
  border-top-color: #98a4b8;
}
.app .sidebar footer a.avatar-btn .btn {
  float: right;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  border-left: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.app .sidebar footer .btn.add:after {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url("/assets/add-icon.png");
  margin: 5px 9px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .app .sidebar footer .btn.add:after {
    background-image: url("/assets/add-icon@2x.png");
    background-size: 14px 15px;
  }
}
.app .sidebar .user-menu {
  position: absolute;
  bottom: 50px;
  left: 12px;
}
.app .sidebar:after {
  content: '';
  position: absolute;
  pointer-events: none;
  overflow: hidden;
  left: -9999px;
  top: -9999px;
  height: 1px;
  width: 1px;
  background: url("/assets/popular-icon.png"), url("/assets/popular-icon-active.png"), url("/assets/newest-icon.png"), url("/assets/newest-icon-active.png"), url("/assets/search-icon.png"), url("/assets/search-icon-hover.png");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .app .sidebar:after {
    background: url("/assets/popular-icon@2x.png"), url("/assets/popular-icon-active@2x.png"), url("/assets/newest-icon@2x.png"), url("/assets/newest-icon-active@2x.png"), url("/assets/search-icon@2x.png");
  }
}
