.app .user-menu {
  display: block;
  padding: 6px 0;
  margin: 0;
  width: 160px;
  z-index: 500;
  -webkit-box-shadow: rgba(0,0,0,0.15) 0 1px 2px;
  -moz-box-shadow: rgba(0,0,0,0.15) 0 1px 2px;
  -ms-box-shadow: rgba(0,0,0,0.15) 0 1px 2px;
  -o-box-shadow: rgba(0,0,0,0.15) 0 1px 2px;
  box-shadow: rgba(0,0,0,0.15) 0 1px 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #9eaabc;
  background: #fff;
  list-style: none;
  position: absolute;
}
.app .user-menu a {
  border: 1px solid transparent;
  color: #77808c;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 22px;
  line-height: 22px;
  padding: 0 10px;
  margin: 0 -1px 0 -1px;
}
.app .user-menu a:hover {
  color: #d32626;
  text-decoration: none;
}
.app .user-menu .divider {
  background: #ebeef2;
  height: 1px;
  margin: 6px 0;
}
.app .user-menu:before {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-top: 7px solid #9eaabc;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  bottom: -7px;
  left: 16px;
}
.app .user-menu:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -6px;
  left: 17px;
  height: 0;
  width: 0;
  border-top: 6px solid #fff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
