.overlay .panel.users-invite-authorize {
  width: 300px;
}
.overlay .panel.users-invite-authorize p {
  margin-bottom: 8px;
}
.overlay .panel.users-invite-authorize p:last-child {
  margin-bottom: 0;
}
.overlay .panel.users-invite-authorize footer {
  margin: 20px 0 25px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
}
