.overlay .panel.users-authorize,
.overlay .panel.users-invite-authorize {
  width: 240px;
  background-image: -webkit-linear-gradient(rgba(255,255,255,0), #f0f2f6 95%, #e5e8ee);
  background-image: -moz-linear-gradient(rgba(255,255,255,0), #f0f2f6 95%, #e5e8ee);
  background-image: -ms-linear-gradient(rgba(255,255,255,0), #f0f2f6 95%, #e5e8ee);
  background-image: -o-linear-gradient(rgba(255,255,255,0), #f0f2f6 95%, #e5e8ee);
  background-image: linear-gradient(rgba(255,255,255,0), #f0f2f6 95%, #e5e8ee);
}
.overlay .panel.users-authorize a.twitter,
.overlay .panel.users-invite-authorize a.twitter,
.overlay .panel.users-authorize a.github,
.overlay .panel.users-invite-authorize a.github,
.overlay .panel.users-authorize a.email,
.overlay .panel.users-invite-authorize a.email {
  position: relative;
  display: block;
  width: 130px;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0,0,0,0.1) 0 1px 1px, rgba(255,255,255,0.2) 0 1px 0 inset;
  -moz-box-shadow: rgba(0,0,0,0.1) 0 1px 1px, rgba(255,255,255,0.2) 0 1px 0 inset;
  -ms-box-shadow: rgba(0,0,0,0.1) 0 1px 1px, rgba(255,255,255,0.2) 0 1px 0 inset;
  -o-box-shadow: rgba(0,0,0,0.1) 0 1px 1px, rgba(255,255,255,0.2) 0 1px 0 inset;
  box-shadow: rgba(0,0,0,0.1) 0 1px 1px, rgba(255,255,255,0.2) 0 1px 0 inset;
  font-smoothing: antialiased;
  background-color: #00aced;
  cursor: pointer;
  display: block;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  height: 30px;
  padding: 0 14px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  color: #fff;
  line-height: 30px;
  text-decoration: none;
  padding-left: 38px;
  margin-bottom: 10px;
}
.overlay .panel.users-authorize a.twitter:hover,
.overlay .panel.users-invite-authorize a.twitter:hover,
.overlay .panel.users-authorize a.github:hover,
.overlay .panel.users-invite-authorize a.github:hover,
.overlay .panel.users-authorize a.email:hover,
.overlay .panel.users-invite-authorize a.email:hover {
  background-image: -webkit-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.15));
  background-image: -moz-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.15));
  background-image: -ms-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.15));
  background-image: -o-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.15));
  background-image: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.15));
}
.overlay .panel.users-authorize a.twitter:active,
.overlay .panel.users-invite-authorize a.twitter:active,
.overlay .panel.users-authorize a.github:active,
.overlay .panel.users-invite-authorize a.github:active,
.overlay .panel.users-authorize a.email:active,
.overlay .panel.users-invite-authorize a.email:active {
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.08));
  background-image: -moz-linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.08));
  background-image: -ms-linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.08));
  background-image: -o-linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.08));
  background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.08));
  -webkit-box-shadow: rgba(0,0,0,0.1) 0 1px 1px inset, rgba(255,255,255,0.7) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,0.1) 0 1px 1px inset, rgba(255,255,255,0.7) 0 1px 0;
  -ms-box-shadow: rgba(0,0,0,0.1) 0 1px 1px inset, rgba(255,255,255,0.7) 0 1px 0;
  -o-box-shadow: rgba(0,0,0,0.1) 0 1px 1px inset, rgba(255,255,255,0.7) 0 1px 0;
  box-shadow: rgba(0,0,0,0.1) 0 1px 1px inset, rgba(255,255,255,0.7) 0 1px 0;
}
.overlay .panel.users-authorize a.twitter,
.overlay .panel.users-invite-authorize a.twitter {
  background-image: -webkit-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.08) 95%, rgba(0,0,0,0.15));
  background-image: -moz-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.08) 95%, rgba(0,0,0,0.15));
  background-image: -ms-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.08) 95%, rgba(0,0,0,0.15));
  background-image: -o-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.08) 95%, rgba(0,0,0,0.15));
  background-image: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.08) 95%, rgba(0,0,0,0.15));
  border: 1px solid rgba(0,94,128,0.8);
  border-bottom-color: #005e80;
  border-top-color: rgba(0,94,128,0.6);
}
.overlay .panel.users-authorize a.twitter:active,
.overlay .panel.users-invite-authorize a.twitter:active {
  border-bottom-color: rgba(0,94,128,0.6);
  border-top-color: #005e80;
}
.overlay .panel.users-authorize a.github,
.overlay .panel.users-invite-authorize a.github {
  background-image: -webkit-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.08) 95%, rgba(0,0,0,0.15));
  background-image: -moz-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.08) 95%, rgba(0,0,0,0.15));
  background-image: -ms-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.08) 95%, rgba(0,0,0,0.15));
  background-image: -o-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.08) 95%, rgba(0,0,0,0.15));
  background-image: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.08) 95%, rgba(0,0,0,0.15));
  background-color: #5e6263;
  border: 1px solid rgba(31,32,33,0.8);
  border-bottom-color: #1f2021;
  border-top-color: rgba(31,32,33,0.6);
}
.overlay .panel.users-authorize a.github:active,
.overlay .panel.users-invite-authorize a.github:active {
  border-bottom-color: rgba(31,32,33,0.6);
  border-top-color: #1f2021;
}
.overlay .panel.users-authorize a:before,
.overlay .panel.users-invite-authorize a:before {
  display: block;
  height: 18px;
  width: 18px;
  position: absolute;
  left: 7px;
  top: 5px;
}
.overlay .panel.users-authorize a.twitter:before,
.overlay .panel.users-invite-authorize a.twitter:before {
  content: url("/assets/twitter-logo.png");
}
.overlay .panel.users-authorize a.github:before,
.overlay .panel.users-invite-authorize a.github:before {
  content: url("/assets/github-logo.png");
}
.overlay .panel.users-authorize a:after,
.overlay .panel.users-invite-authorize a:after {
  content: '';
  display: block;
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0));
  background-image: -o-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0));
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0)), linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0));
  background-size: 1px 100%, 1px 100%;
  background-position: 0px 0px, 1px 0px;
  background-repeat: no-repeat, no-repeat;
  bottom: 0;
  left: 30px;
  position: absolute;
  top: 0;
  width: 2px;
}
