.overlay .panel.users-profile .loading {
  position: absolute;
  top: 45%;
  left: 50%;
  height: 20px;
  width: 20px;
  margin: -10px 0 0 -10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
  background: transparent url("/mobile/ios/activity-indicator.png") no-repeat;
  background-size: 20px auto;
  -webkit-animation: loading-sprite 1s step-start infinite;
  -moz-animation: loading-sprite 1s step-start infinite;
  -ms-animation: loading-sprite 1s step-start infinite;
  -o-animation: loading-sprite 1s step-start infinite;
  animation: loading-sprite 1s step-start infinite;
}
.overlay .panel.users-profile .avatar {
  display: block;
  position: relative;
}
.overlay .panel.users-profile .avatar img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: block;
  height: 48px;
  width: 48px;
}
.overlay .panel.users-profile .avatar:before {
  content: "";
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0,0,0,0.08) 0 1px 1px inset;
  -moz-box-shadow: rgba(0,0,0,0.08) 0 1px 1px inset;
  -ms-box-shadow: rgba(0,0,0,0.08) 0 1px 1px inset;
  -o-box-shadow: rgba(0,0,0,0.08) 0 1px 1px inset;
  box-shadow: rgba(0,0,0,0.08) 0 1px 1px inset;
  display: block;
  height: 48px;
  width: 48px;
  position: absolute;
  left: 0;
  top: 0;
}
.overlay .panel.users-profile .list {
  max-height: 260px;
  overflow-y: auto;
  position: relative;
}
.overlay .panel.users-profile .list.posts {
  min-height: 100px;
}
.overlay .panel.users-profile section.info {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  -webkit-box-pack: start;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  -moz-box-pack: start;
}
.overlay .panel.users-profile section.info .meta {
  margin-left: 15px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
}
.overlay .panel.users-profile section.info .meta span {
  display: block;
}
.overlay .panel.users-profile article h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  line-height: 40px;
  margin: 25px 0 0 63px;
  padding: 0;
}
.overlay .panel.users-profile article h2:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  -webkit-box-shadow: #ebeef2 0 -1px 0 inset, rgba(0,0,0,0.03) 0 1px 1px;
  -moz-box-shadow: #ebeef2 0 -1px 0 inset, rgba(0,0,0,0.03) 0 1px 1px;
  -ms-box-shadow: #ebeef2 0 -1px 0 inset, rgba(0,0,0,0.03) 0 1px 1px;
  -o-box-shadow: #ebeef2 0 -1px 0 inset, rgba(0,0,0,0.03) 0 1px 1px;
  box-shadow: #ebeef2 0 -1px 0 inset, rgba(0,0,0,0.03) 0 1px 1px;
}
.overlay .panel.users-profile article .list .item {
  margin-left: 65px;
  padding: 10px 0;
}
@-moz-keyframes loading-sprite {
  0% {
    background-position: 0 0;
  }

  8.33% {
    background-position: 0 -20px;
  }

  16.67% {
    background-position: 0 -40px;
  }

  25% {
    background-position: 0 -60px;
  }

  33.33% {
    background-position: 0 -80px;
  }

  41.67% {
    background-position: 0 -100px;
  }

  50% {
    background-position: 0 -120px;
  }

  58.33% {
    background-position: 0 -140px;
  }

  66.67% {
    background-position: 0 -160px;
  }

  75% {
    background-position: 0 -180px;
  }

  83.33% {
    background-position: 0 -200px;
  }

  91.67% {
    background-position: 0 -220px;
  }

  100% {
    background-position: 0 0;
  }
}
@-webkit-keyframes loading-sprite {
  0% {
    background-position: 0 0;
  }

  8.33% {
    background-position: 0 -20px;
  }

  16.67% {
    background-position: 0 -40px;
  }

  25% {
    background-position: 0 -60px;
  }

  33.33% {
    background-position: 0 -80px;
  }

  41.67% {
    background-position: 0 -100px;
  }

  50% {
    background-position: 0 -120px;
  }

  58.33% {
    background-position: 0 -140px;
  }

  66.67% {
    background-position: 0 -160px;
  }

  75% {
    background-position: 0 -180px;
  }

  83.33% {
    background-position: 0 -200px;
  }

  91.67% {
    background-position: 0 -220px;
  }

  100% {
    background-position: 0 0;
  }
}
@-o-keyframes loading-sprite {
  0% {
    background-position: 0 0;
  }

  8.33% {
    background-position: 0 -20px;
  }

  16.67% {
    background-position: 0 -40px;
  }

  25% {
    background-position: 0 -60px;
  }

  33.33% {
    background-position: 0 -80px;
  }

  41.67% {
    background-position: 0 -100px;
  }

  50% {
    background-position: 0 -120px;
  }

  58.33% {
    background-position: 0 -140px;
  }

  66.67% {
    background-position: 0 -160px;
  }

  75% {
    background-position: 0 -180px;
  }

  83.33% {
    background-position: 0 -200px;
  }

  91.67% {
    background-position: 0 -220px;
  }

  100% {
    background-position: 0 0;
  }
}
@-ms-keyframes loading-sprite {
  0% {
    background-position: 0 0;
  }

  8.33% {
    background-position: 0 -20px;
  }

  16.67% {
    background-position: 0 -40px;
  }

  25% {
    background-position: 0 -60px;
  }

  33.33% {
    background-position: 0 -80px;
  }

  41.67% {
    background-position: 0 -100px;
  }

  50% {
    background-position: 0 -120px;
  }

  58.33% {
    background-position: 0 -140px;
  }

  66.67% {
    background-position: 0 -160px;
  }

  75% {
    background-position: 0 -180px;
  }

  83.33% {
    background-position: 0 -200px;
  }

  91.67% {
    background-position: 0 -220px;
  }

  100% {
    background-position: 0 0;
  }
}
@keyframes loading-sprite {
  0% {
    background-position: 0 0;
  }

  8.33% {
    background-position: 0 -20px;
  }

  16.67% {
    background-position: 0 -40px;
  }

  25% {
    background-position: 0 -60px;
  }

  33.33% {
    background-position: 0 -80px;
  }

  41.67% {
    background-position: 0 -100px;
  }

  50% {
    background-position: 0 -120px;
  }

  58.33% {
    background-position: 0 -140px;
  }

  66.67% {
    background-position: 0 -160px;
  }

  75% {
    background-position: 0 -180px;
  }

  83.33% {
    background-position: 0 -200px;
  }

  91.67% {
    background-position: 0 -220px;
  }

  100% {
    background-position: 0 0;
  }
}
